requests
aiohttp
aiofiles
duckduckgo_search
prompt_toolkit
flask
flask-socketio
python-dotenv
numpy
websockets
pillow
nest_asyncio
tiktoken
pydantic
PyQt6>=6.6.1
keyboard>=0.13.5
markdown>=3.5
pyperclip>=1.8.2
PyGetWindow>=0.0.9
