requests
aiohttp
aiofiles
duckduckgo_search
prompt_toolkit
google-api-python-client
flask-socketio

python-dotenv
numpy
pytest
chromadb
playwright
pillow
nest_asyncio
google-auth-httplib2
google-auth-oauthlib

websockets
pyaudio
mss
