requests
aiohttp
aiofiles
duckduckgo_search
prompt_toolkit
flask
flask-socketio
Flask-Login
python-dotenv
numpy
websockets
pillow
nest_asyncio
tiktoken
pydantic
beautifulsoup4
bleach[css]
python-json-logger
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
transitions
